.character-sheet-background {
	position: relative;
	background-image: url("../../assets/wood-background2.jpg");
	background-repeat: repeat-y;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}

.character-sheet-background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--tint-overlay);
	z-index: 0;
}

.character-sheet-container {
	position: relative;
	max-width: 800px;
	margin: 10rem auto 2rem;
	padding: 2rem;
	border-radius: 1rem;
	background-image: url("../../assets/wood-background1.png");
	background-repeat: repeat-y;
	background-size: contain;
	background-color: var(--secondary-background-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	z-index: 2;
}

.character-sheet-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1rem;
	background: var(--tint-overlay);
	z-index: -1;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.character-sheet-container form {
	display: flex;
	flex-direction: column;
}

.character-sheet-container form label {
	display: block;
	font-weight: bold;
	margin: 0.5rem 0rem;
}

.character-sheet-container select {
	width: 100%;
}

.red-star {
	color: red;
	vertical-align: super;
	font-size: 0.9rem;
}

/* Start Top */
.character-sheet-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.character-sheet-top div div input[type="number"] {
	width: 100%;
}

.backstory-text-area {
	width: 40rem;
	height: 22rem;
}

.character-sheet-top-right-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* End Top */

/* Start Middle */
.character-sheet-ability {
	display: flex;
	flex-direction: column;
}

.character-sheet-ability-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	padding: auto;
}

.character-sheet-ability-top h6 {
	font-weight: bold;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid var(--border-color);
	background-color: var(--secondary-background-color);
}

.character-sheet-ability-bottom {
	display: flex;
	justify-content: space-evenly;
}

.character-sheet-ability-bottom div label {
	margin: 0rem;
}

.character-sheet-ability-bottom div {
	width: 11rem;
	border: 2px solid var(--border-color);
	background-color: var(--secondary-background-color);
	border-radius: 15%;
	margin-top: 1rem;
	padding: 1rem;
	text-align: center;
}

.character-sheet-ability-bottom div input {
	width: 3rem;
}

.character-sheet-ability-bottom div input::-webkit-outer-spin-button,
.character-sheet-ability-bottom div input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.character-sheet-ability-bottom div button {
	padding: 0.45rem 0.9rem;
	border-radius: 0.3rem;
	font-size: 1rem;
	transition: all 0.5s ease;
}
.character-sheet-ability-bottom div button:disabled {
    cursor: not-allowed;
    opacity: 0.45;
}

.character-sheet-ability-bottom div button:nth-child(4) {
	margin-left: 0.5rem;
}

.character-sheet-ability-bottom div button:nth-child(2) {
	margin-right: 0.5rem;
}
/* End Middle */

/* Start Bottom */
.character-sheet-bottom {
	display: flex;
	justify-content: space-between;
}

.character-sheet-bottom-left {
	width: 27.5rem;
}

/* Above character-sheet-bottom-right */
.character-sheet-image-container {
	height: 30rem;
	width: 30rem;

	margin: auto;
	margin-top: 1rem;
	border-radius: 50%; /* Makes the container circular */
	/* border: 0.6rem solid var(--secondary-background-color); */
	padding: 1rem;

	overflow: hidden; /* Ensures any overflow from image is hidden */
	box-shadow: 10px 10px 10px 6px var(--tint-overlay); /* Adds a subtle shadow to the frame */

	background-image: url("../../assets/classes/parchment.jpg");
	background-size: cover;
	background-blend-mode: overlay; /* Blends texture with border color */
}

.character-sheet-image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.character-sheet-bottom-right {
	margin-top: 1rem;
	width: 45rem;
	height: 52rem;
	border: 2px solid var(--border-color);
	border-radius: 1rem;
	padding: 1rem;
	overflow-y: auto;
	background-color: var(--secondary-background-color);
}

.character-sheet-bottom-right h3 {
	text-align: center;
	border-bottom: 4px solid var(--border-color);
	font-weight: bolder;
}

.character-sheet-submit-btn {
	margin-top: 1rem;
	padding: 1rem 2rem;
	transition: all 0.5s ease;
}

.character-sheet-footer {
	margin-top: 1rem;
	padding: 1rem;
	border: 2px solid var(--border-color);
	border-radius: 1rem;
	background-color: var(--secondary-background-color);
}
