.landing-container {
    position: relative;
    background: url('../../assets/landing-background.jpg') no-repeat center center/cover;
    height: 100vh;
    color: var(--theme-grey-o-100);
}

.landing-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tint-overlay);
    z-index: 1;
}

.hero-section,
.features-section,
.about-section {
    position: relative;
    z-index: 2;
}

.hero-section {
	padding: 12rem 2rem 6rem 2rem;
    text-align: center;
}

.hero-content {
	max-width: 800px;
	margin: 0 auto;
}

.hero-section h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.hero-section p {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.cta-button {
	padding: 1rem 2rem;
	font-size: 1.6rem;
}

.features-section {
	padding: 4rem 2rem;
	text-align: center;
}

.features-section h2 {
	font-size: 2.8rem;
	margin-bottom: 2rem;
}

.feature-grid {
	display: flex;
	gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;
}

.feature-item {
	background-color: var(--background-color);
	padding: 2rem;
	border-radius: 0.5rem;
	flex: 1 1 300px;
	max-width: 300px;
}

.feature-item h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.feature-item p {
	font-size: 1.4rem;
}

.about-section {
	padding: 4rem 2rem;
	text-align: center;
}

.about-section h2 {
	font-size: 2.8rem;
	margin-bottom: 2rem;
}

.about-section p {
	font-size: 1.6rem;
	max-width: 800px;
	margin: 0 auto;
}
