.chat-box {
    /* Consider the height of the header (80px) */
    height: calc(100vh - 80px);
    width: 300px; /* Adjust this width as needed */
    position: fixed;
    right: 0;
    top: 80px; /* This accounts for the height of the header */
    background-color: var(--secondary-background-color); /* Ensure it fits your theme */
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.chat-box-tab-container {
	height: 100%;
	max-height: 36px;
    background-color: var(--background-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-box-tabs {
	height: 100%;
	display: flex;
	align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
	margin-right: auto;
	background-color: var(--secondary-background-color);
	border-radius: 5px;
}

.chat-box-tabs::-webkit-scrollbar {
    height: 4px;
}

.chat-box-tabs p {
	padding-left: 8px;
    padding-right: 8px;
    user-select: none;
	border-right: 2px solid var(--border-color);
}

.chat-box-tabs p:last-child {
    border-right: none;
}

.chat-box-tabs p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.selected-tab {
    color: var(--background-color);
}

.chat-box-content-container {
    flex-grow: 1;
    overflow-y: auto;
	border: 2px solid var(--border-color);
}

.chat-box-input-container {
    padding: 1rem;
    background-color: var(--background-color);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding-right: 2.5rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    color: var(--base-text-color);
    font-size: 1.4rem;
}

.input-wrapper button {
    position: absolute;
    right: 8px; /* Position the button inside the input field */
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: var(--base-text-color);
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.input-wrapper button:hover {
    cursor: pointer;
    color: var(--background-color);
}

.sender-span:hover {
    cursor: pointer;
    text-decoration: underline;
}