@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

:root {
	font-family: "EB Garamond", sans-serif;
	line-height: 1.75;
	font-weight: 400;
	font-size: 62.5%;

	--background-color: #a89070;
	--background-color-o: #a89070ea;
	--secondary-background-color: #4b3832;
	--tertiary-background-color: #937d62;
	--base-text-color: #edf2f4;
	--button-color: #d2b48c;
	--button-color-hover: #b6966c;
	--border-color: #3f362a;
	--tint-overlay: rgba(0, 0, 0, 0.5);
	--option-odd-color: #4b3832;
	--option-even-color: #544838;
	--option-even-color-o: #544838ea;

	background-color: var(--background-color);
	color: var(--base-text-color);
}

body {
	position: relative;
}

#dice-box,
#dice-box canvas {
	position: fixed;
	pointer-events: none;
	/* padding: 20rem; */
	width: 100vw;
	height: 100vh;
	z-index: 1000;
}

input[type="checkbox"] {
	appearance: checkbox;
}

input[type="radio"] {
	appearance: radio;
}

input[type="text"] {
	padding: 0.3rem;
}

input[type="number"] {
	text-align: center;
}

textarea {
	border-radius: 0.3rem;
	padding: 0.3rem;
	font-size: 1.2rem;
}

select {
	padding: 0.2rem 0.3rem 0rem;
	font-size: 1.4rem;
	height: 3rem;
	text-align: center;
	cursor: pointer;
}

option {
	font-size: 1.4rem;
	background-color: var(--option-odd-color);
}

option:nth-child(even) {
	background-color: var(--option-even-color);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--button-color);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--button-color-hover);
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: var(--button-color-hover);
}

a {
	font-weight: 500;
	text-decoration: inherit;
	font-size: 1.4rem;
	transition: all 0.5s ease;
}

a:hover {
	color: var(--button-color-hover);
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

h1 {
	font-size: 3rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
}

h2 {
	font-size: 2.8rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
}

h3 {
	font-size: 2.4rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
}

h4 {
	font-size: 2.2rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
}

h5 {
	font-size: 2rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
}

h6 {
	font-size: 1.8rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
}

p {
	font-size: 1.4rem;
}

label {
	font-size: 1.4rem;
	font-family: "Cinzel", serif;
	color: var(--button-color);
	margin-bottom: 0.5rem;
	display: block;
}

input {
	font-size: 1.4rem;
}

li {
	font-size: 1.4rem;
}

span {
	font-size: 1.4rem;
}

strong {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

input,
select,
textarea {
	width: 100%;
	border-radius: 5px;
	border: 2px solid var(--border-color);
	background: var(--secondary-background-color);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	border-color: var(--button-color);
	background: var(--background-color);
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
	cursor: not-allowed;
}

button {
	background-color: var(--button-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Cinzel", serif;
	font-size: 1.4rem;
	text-align: center;
	transition: all 0.5s ease;
}

button:hover {
	background-color: var(--button-color-hover);
}
